<header>
    <nav id="header_container">
        <div id="site_logo">
            <a href="/">
                {{- .Site.Title -}}
            </a>
        </div>
        <div id="site_nav">
            
            <div id="nav_list">
                {{- range .Site.Menus.main -}}
                    {{- $url := .URL | relURL -}}
                    {{- with .Page -}}
                        {{- $url = .RelPermalink -}}
                    {{- end -}}
                    <a class="menu_item{{ if $.IsMenuCurrent `main` . | or ($.HasMenuCurrent `main` .) | or (eq $.RelPermalink $url) }}_active{{ end }}" href="{{ $url }}">
                        {{ .Name }} 
                    </a>
                {{- end -}}
            </div>
            <div id="nav_rss">

            </div>
        </div>

    </nav>
</header>