{{ define "main" }}

<section class="home_post_list">
    <h2>
        最新文章
    </h2>
    {{ range where .Site.RegularPages "Section" "posts" }}
    <div class="home_post">
        <div>
            <div class="home_post_date">
                {{ .PublishDate.Format (site.Params.dateFormatToUse | default "2006/01/02") }}
            </div>
            <div class="home_post_title">
                <a href="{{ .RelPermalink }}">{{.Title}}</a>
            </div>
        </div>
        {{ with .Params.tags }}
        <div class="home_post_tags">
            {{ range . }}
            <a href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>
            {{ end }}
        </div>
        {{ end}}
    </div>
    {{ end }}
    <div class="read_more_button">
        <a class="section-button" href="{{ .RelPermalink }}">更多</a>
    </div>
</section>
{{end}}
