/*====================global====================*/
* {
  font-family: system-ui;
  box-sizing: border-box;
}

body {
  background-color: #eceff4;
  color: #2e3440;
  scrollbar-width: 0;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

a {
  text-decoration: none;
  color: #2e3440;
}

a:visited {
  color: #2e3440;
}

a:hover {
  color: #5e81ac;
}

/*====================article===================*/

/* H1标题样式 */
article h1 {
  font-size: 1.5rem;
  color: #a3be8c; /* 标题颜色 */
}

/* H2标题样式 */
article h2 {
  font-size: 1.25rem;
  color: #ebcb8b; /* 标题颜色 */
}

/* H3标题样式 */
article h3 {
  font-size: 1.1rem;
  color: #b48ead; /* 标题颜色 */
}

/* H4标题样式 */
article h4 {
  font-size: 1rem;
  color: #d08770; /* 标题颜色 */
}

/* H5标题样式 */
article h5 {
  font-size: 0.9rem;
  color: #bf616a; /* 标题颜色 */
}

/* H1标题样式 */
article h1::before {
  content: "# ";
}

/* H2标题样式 */
article h2::before {
  content: "# ";
}

/* H3标题样式 */
article h3::before {
  content: "# ";
}

/* H4标题样式 */
article h4::before {
  content: "# ";
}

/* H5标题样式 */
article h5::before {
  content: "# ";
}

article code {
  background-color: #a3be8c;
}

article a {
  color: #b48ead;
}

article a:hover {
  color: #a3be8c;
}

article p {
  letter-spacing: 1.2px;
  line-height: 1.5;
}

article img {
  display: block;
  margin: 0 auto; /* 居中 */
  max-width: 66.67%; /* 文章宽度的2/3 */
}

article .highlight {
  font-family: monospace;
  border: 1px solid #a3be8c;
  padding-left: 15px;
}

/*====================header====================*/
header {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem 0;
}

.header_container {
  align-items: center;
  justify-content: space-between;
}

.site_nav {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 10px;
  height: 30px;
}

.site_logo a {
  font-size: 2rem;
}

.nav_list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav_menu_item {
  background: #d8dee9;
  border-style: solid;
  border-color: #d8dee9;
  border-radius: 5px;
  color: #3b4252;
  padding: 4px 6px;
  margin-right: 15px;
  font-size: 0.9rem;
}

.nav_menu_item:visited {
  color: #3b4252;
}

/* hover 必须在visited之后*/
.nav_menu_item:hover {
  background: #3b4252;
  border-style: solid;
  border-color: #3b4252;
  border-radius: 5px;
  color: #d8dee9;
  padding: 4px 6px;
  margin-right: 15px;
  font-size: 0.9rem;
}

.nav_menu_item_active {
  background: #3b4252;
  border-style: solid;
  border-color: #3b4252;
  border-radius: 5px;
  color: #d8dee9;
  padding: 4px 6px;
  margin-right: 15px;
  font-size: 0.9rem;
}

.nav_menu_item_active:visited {
  color: #d8dee9;
}

.nav_rss {
  font-size: 1.7rem;
}

/*====================home content====================*/
#content {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.home_post_list {
  margin-top: 20px;
}

.home_post_list > h2 {
  border-bottom: 4px solid #434c5e;
  margin-bottom: 25px;
}

.home_post {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.home_post_date {
  display: inline-block;
  color: #4c566a;
  min-width: 60px;
  font-size: 0.9rem;
}

.home_post_title {
  display: inline;
  margin-left: 15px;
}

.home_post_tags {
  display: inline;
  margin-left: 7px;
}

.home_post_tags a {
  background: #4c566a;
  padding: 1px 2px;
  color: #d8dee9;
  font-size: 0.6rem;
  margin-right: 3px;
  border-radius: 3px;
}

.home_post_tags a:hover {
  background: #d8dee9;
  padding: 1px 2px;
  color: #4c566a;
  font-size: 0.6rem;
  margin-right: 3px;
  border-radius: 3px;
}

.read_more_button a {
  background: #3b4252;
  padding: 1px 2px;
  color: #d8dee9;
  font-size: 0.9rem;
  margin-right: 3px;
  border-radius: 5px;
}

.read_more_button a:hover {
  background: #d8dee9;
  padding: 1px 2px;
  color: #3b4252;
  font-size: 0.9rem;
  margin-right: 3px;
  border-radius: 5px;
}

/*===============footer====================*/
footer {
  margin-top: 6rem;
  padding-bottom: 1.5rem;
  text-align: center;
  font-size: 0.8rem;
  color: #585858;
}
